{% extends 'base_customer.html' %}

{% block content %}
    <h1>{% block title %} Customers {% endblock %}</h1>
    {% for customer in customers %}
        <div class='customer'>
            <h3>{{ customer['id']|string }} - {{ customer['name'] }}</h3>
        </div>
    {% endfor %}

    <div style="color:#fff; background-color:black", class="jumbotron">
      <h1>Select Customer</h1>
    </div>

    <form class="form-inline" method="POST" action="{{ url_for('accounts') }}">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Please select</span>
            <select name="cust_id" class="selectpicker form-control">
              {% for customer in customers %}
              <option value="{{ customer.id }}">{{ customer.name }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>

{% endblock %}
